/* Write some CSS below */

@font-face {
  font-family: 'BebasNeue-Regular'; 
  src: url('BebasNeue-Regular.ttf'); 
}


h1 {
	color: black;
	font-family:BebasNeue-Regular;
  	text-align: center;
}
h1:hover {
  color: royalblue;
}

h2 {
	color: royalblue;
}

img {
	border-radius: 0%;

	
}


.button-blue {
  background-color: #1A48E3;
  color: white;
  padding: 10px 25px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.button-blue:hover {
  background-color: #0D1EC6;
  color: navajowhite;
}



.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/paysage.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 500px; /* Ajustez la hauteur selon vos besoins */
  overflow: hidden; /* Pour que la bannière ait la hauteur de l'image */
}

.image-left {
  float: left; /* Positionner l'image à gauche */
  width: 40%; /* Définir la largeur de l'image */
}

.text-right {
  float: right; /* Positionner le texte à gauche */
  width: 60%; /* Définir la largeur du texte */
  text-align: right; /* Aligner le texte à gauche */
}

.center-image {
  max-width: 100%; /* Ajustez la taille maximale de l'image au besoin */
  max-height: 100%; /* Ajustez la taille maximale de l'image au besoin */
}



.banner h1 {
  font-family:BebasNeue-Regular;
  color: white;
  font-size: 55px;
  text-align: left;
  margin: 40px;
}


.banner p {
  font-family:BebasNeue-Regular;
  color: white;
  font-size: 35px;
}
.subtitles p  {
	font-family:Overpass;
	color:white;
	opacity: 0.8;
	font-size: 24px;
}

.banner h3 {
  font-family:Arial;
  color: white;
  font-size: 18px;
  text-align: left;
  margin: 40px;
}

.container{ 
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 25px;
	width: 800px;
  	margin: auto;

	  
}

@media (max-width: 800px){
.container {
	background-color : red;
	grid-template-columns: 1fr;
	margin: auto;
	}
}

.card {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card h3 {
  margin-bottom: 0;
}

.card:hover {
  background-color: floralwhite;
}


.footer {
  background: #1A48E3;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: white;
}


/* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}

